* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:sans-serif;
    background:rgb(193, 19, 193);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow:black;
    max-width: 800px;
    width: 900px;
    text-align: center;
}

h1 {
    color: black;
    margin-bottom: 20px;
    font-size:30px;
}

.upload-area, .output-area {
    border: 3px dashed #ccc;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.upload-area.dragover {
    border-color: lightgreen;
    background: whitesmoke;
}

.upload-area.has-file {
    border-color: #2196F3;
    background: #e3f2fd;
}

#fileInput {
    display: none;
}

button {
    background: #4CAF50;
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 25px;
    font-size: 1.1rem;
    cursor: pointer;
    margin: 10px;
    transition: all 0.3s ease;
}

button:hover:not(:disabled) {
    background: #45a049;
    transform: translateY(-2px);
}

button:disabled {
    background: #ccc;
    cursor: not-allowed;
}

#downloadLink {
    background: #2196F3;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    margin-top: 10px;
    font-weight: 500;
}

#downloadLink:hover {
    background:#1976D2;
}
